*{
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: bahnschrift;
  src: url(../assets/fonts/BAHNSCHRIFT.TTF);
}
@font-face {
  font-family: fujimaru;
  src: url(../assets/fonts/Fujimaru-Regular.ttf);
}
.aside-links{
  font-family: fujimaru;
  color: #C1272D;
  font-size: 24px;
  cursor: pointer;
  transition: all .5s;
}
.aside-links:hover{
  filter: opacity(50%);
}
#aside-sun{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 10%;
  background-color: #C1272D;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
a{
  text-decoration: none;
  color: #C1272D;
  transition: all .3s;
}
a:hover{
  transform: scale(105%);
}
body {
  height: 100vh;
  user-select: none;
  font-family: bahnschrift;
}
#parallax{
  background-image: url(../assets/img/main_background.jpg);
  background-repeat: no-repeat;
  background-size: 120%;
  width: 100%;
  height: 100%;
  position: absolute;
  top:0;
  left: 0;
  z-index: -2;
  filter: contrast(60%) sepia(30%) opacity(80%);
}
#h1{
  color: #00000000;
  text-align: center;
  height: fit-content;
  cursor: pointer;
  position: absolute;
  width: 315px;
  height: 50px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-position: center;
  background-size: 100%;
  background-image: url(../assets/img/logo.svg);
  background-repeat: no-repeat;
  transition: all .5s;
}
@media (max-width: 860px) {
  #h1{
    background-image: url(../assets/img/alt-logo.svg);
    width: 42px;
    transform: translateX(-250%) translateY(-50%);
  }
  #parallax{
    background-size: cover;
    /* background-size: 200%; */
  }
  #register-btns{
    column-gap: 30px!important;
  }
}
#sun{
  background-color: #C1272D;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 30px;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
}
#body-container{
  width: 100%;
  height: 100%;
}
.sun-cloud{
  transition: all .8s;
  height: 30px;
  width: 50px;
}
.sun-cloud:nth-child(1){
  z-index: 2;
  transform: translateX(20px);
}
.sun-cloud:nth-child(2){
  transform: translateX(-60px) translateY(5px) scale(80%);
  filter: brightness(85%)
}
.cloud-move-f{
  transform: translateX(40px)!important;
  filter: opacity(0%)!important;
}
.cloud-move-b{
  filter: brightness(85%) opacity(0%)!important;
  transform: translateX(-90px) translateY(5px) scale(80%)!important;
}
#register-btns{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 60px;
  margin: 30px;
}
.header-btn{
  border-radius: 10px;
  color: #C1272D;
  border: 3px solid #C1272D;
  height: 35px;
  width: 90px;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  font-weight: bold;
  transition: all .5s;
  cursor: pointer;
}
.header-btn:hover{
  background-color: #C1272D;
  color: #191919;
}
header{
  position: absolute;
  width: 100%;
  height: 10%;
  top: 0;
  box-shadow: 0 0 15px #000;
  background-color: #191919;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 5;
}
img{
  transform: scale(80%);
}
aside{
  position: absolute;
  transition: all .7s;
  top: 0;
  left: -350px;
  width: 300px;
  height: 100%;
  z-index: 7;
  box-shadow: 0 0 15px #000;
  background-color: #D6C1A9;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 100px;
}
#aside-background{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../assets/img/aside_background.jpg);
  background-position: center;
  filter: contrast(0.8) saturate(42%) blur(0.1px) opacity(25%);
  z-index: -1;
}
.slide{
  transform: translateX(350px);
}
main{
  position: absolute;
  bottom: 15%;
  height: 75%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer{
  background-color: #191919;
  color: #C1272D;
  height: 15%;
  position: absolute;
  box-shadow: 0 0 15px #000;
  bottom: 0;
  width: calc(100% - 60px);
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.content{
  width: 100%;
  height: 100%;
}
#git-link{
  display: flex;
  align-items: center;
  justify-content: center;
}
#songs-list{
  overflow-x: hidden;
  overflow-y: scroll;
  width: 620px;
  height: 420px;
  margin-bottom: 3%;
  border-radius: 10px;
  background-color: #191919;
  box-shadow: 0 0 300px #000 inset;
  padding: 20px;
}
#songs-list::-webkit-scrollbar {
  width: 12px;
}
#songs-list::-webkit-scrollbar-track {
  background:rgba(255, 255, 255, 0.224); 
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
#songs-list::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #C1272D; 
}
#popup{
  width: 350px;
  height: 400px;
  background: #E3DDD3;
  position: absolute;
  border: 5px solid #191919;
  border-radius: 30px;
  box-shadow: 0 0 25px #000 inset;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  overflow: hidden;
}
#popup-container{
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.387);
  z-index: 10;
  display: flex;
  opacity: 0;
  visibility: hidden;
  transition: all .3s;
}
#popup-sakura{
  position: absolute;
  bottom: 30px;
  right: -55px;
  height: 300px;
  width: 300px;
  background-image: url("../assets/img/sakura.svg");
  background-size: contain;
  background-repeat: no-repeat;
}
#popup-mountains{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 145px;
  width: 114%;
  background-image: url("../assets/img/mountain.svg");
  background-size: 408px;
}
#popup-frames{
  display: flex;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  flex-direction: column;
  row-gap: 40px;
}
.popup-input{
  height: 20px;
  width: 200px;
  background: #e0eaf0e3;
  border: 3px solid #191919;
  border-radius: 30px;
  padding: 10px;
  box-shadow: 0 0 10px #000;
}
#popup-btns{
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 26px;
}
.popup-btn{
  color: #191919;
  height: 35px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #e0eaf0e3;
  border: 3px solid #191919;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 0 10px #000;
  cursor: pointer;
  transition: all .5s;
}
.popup-btn:nth-child(1):hover{
  border-color: green;
  color: green;
}
.popup-btn:nth-child(2):hover{
  border-color: red;
  color: red;
}
.popup-btn:hover{
  transform: scale(110%);
}
#popup-frames > label {
  font-size: 24px;
}

#profile{
  height: 35px;
}
#profile:hover > .header-btn{
  background: #C1272D;
  color: #191919;
}
#profile-content{
  height: 0;
  width: calc(100% - 6px);
  transition: all .5s;
  background-color: #191919;
  border-radius: 0 0 10px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  overflow: hidden;
  border: 3px solid #00000000;
}
#profile:hover > #profile-content{
  margin-top: -10px;
  /* padding-top: 5px; */
  padding-bottom: 10px;
  border: 3px solid #C1272D;
  border-top: none;
  width: calc(100% - 6px);
  height: calc(122px - 23px);
}
.profile-btn{
  font-weight: bold;
  width: 80%;
  color: #C1272D;
  background: none;
  border-left: none;
  border-right: none;
  border-top: none;
  /* border-top: 3px solid #C1272D; */
  border-bottom: 3px solid #C1272D;
  padding-top: 5px;
  padding-bottom: 5px;
  transition: all .5s;
  cursor: pointer;
}
.profile-btn:hover{
  background: #C1272D;
  color: #191919;
}
#ask-container{
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.387);
  z-index: 10;
  display: flex;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: all .3s;
}
.shown{
  opacity: 100!important;
  visibility: visible!important;
}
#question{
  margin-top: 30px;
  width: 300px;
  height: 150px;
  background-color: #e0eaf0;
  border-radius: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  row-gap: 30px;
}
#question-btns{
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.question-btn{
  cursor: pointer;
  width: 50px;
  height: 25px;
  border-radius: 10px;
  border: 3px solid #191919;
  transition: all .5s;
}
.question-btn:first-child:hover{
  border: 3px solid green;
  color: green;
}
.question-btn:last-child:hover{
  border: 3px solid red;
  color: red;
}
#question-place{
  text-align: center;
}
/* 
#C1272D красный
#0f2740 синий
#D6C1A9 бежевый
#294F4E зеленб
#785E43 цвет коричневый 
*/