#profile-section{
  position: absolute;
  left: 5%;
  width: fit-content;
  height: calc(80% + 40px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
#profile-window{
  box-shadow: 0 0 150px #000 inset;
  background: #191919;
  width: 300px;
  height: 60%;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 60% 5% 35%;
  align-items: center;
  }
.profile-info{
  color: #C1272D;
  margin: auto;
}
.profile-sec-btn{
  background: none;
  color: #C1272D;
  border: 3px solid #C1272D;
  border-radius: 10px;
  height: 50px;
  width: 70%;
  margin: auto;
  transition: all .5s;
  cursor: pointer;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.profile-sec-btn:last-child{
  font-size: 14px;
  font-weight: 100;
}
.profile-sec-btn:hover{
  background-color: #C1272D;
  color: #191919;
}
#profile-name{
  color: #C1272D;
  max-width: 100px;
  height: auto;
  word-wrap: break-word;
  font-size: 24px;
}
#profile-marked{
  color: #C1272D;
  width: 250px;
  height: calc(35% - 40px);
  border-radius: 10px;
  background: #191919;
  box-shadow: 0 0 100px #000 inset;
  padding: 20px;
  overflow: auto;
}
#profile-marked::-webkit-scrollbar {
  width: 12px;
}
#profile-marked::-webkit-scrollbar-track {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background:rgba(255, 255, 255, 0.224); 
}
#profile-marked::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #C1272D; 
}
.marked-song{
  text-align: center;
  height: 70px;
  list-style-position: inside;
  color: #C1272D;
  border-top: 3px solid #C1272D;
  border-bottom: 3px solid #C1272D;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#chat{
  overflow: hidden;
  box-shadow: 0 0 300px #000 inset;
  width: 260px;
  height: 80%;
  padding: 20px;
  border-radius: 10px;
  background: #191919;
  position: absolute;
  right: 5%;
}
#chat-head{
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  font-weight: bold;
  padding-top: 15px;
  width: 100%;
  height: 35px;
  color: #191919;
  background: #C1272D;
}
#chat-input{
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  font-weight: bold;
  width: calc(100% - 20px);
  height: 50px;
  color: #C1272D;
  border-top: 3px solid #C1272D;
  background: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}
#chat-text-field{
  color: #C1272D;
  border: 3px solid #C1272D;
  background: none;
  border-radius: 20px;
  height: 20px;
  padding: 0 10px;
}
#chat-send{
  width: 50px;
  height: 26px;
  background-color: #00000000;
  padding: 2px 5px;
  font-weight: bold;
  border-radius: 20px;
  margin-right: 20px;
  border: none;
  background-image: url(../../assets/img/send-button.svg);
  background-size: 33px;
  background-position-x: center;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: all .5s;
  display: flex;
  align-items: center;
}
#chat-send:hover{
  transform: scale(120%);
}
#chat-send:active{
  transform: scale(90%);
}
#chat-messages-scroller{
  position: absolute;
  top: 50px;
  left: 0;
  bottom: 53px;
  width: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column-reverse;
}
#chat-messages{
  display: flex;
  flex-direction: column;
}
#chat-messages-scroller::-webkit-scrollbar {
  width: 12px;
}
#chat-messages-scroller::-webkit-scrollbar-track {
  background:rgba(255, 255, 255, 0.224); 
}
#chat-messages-scroller::-webkit-scrollbar-thumb {
  background: #C1272D; 
}
.message{
  width: 70%;
  color: #C1272D;
  border: 3px solid #C1272D;
  background: none;
  border-radius: 10px;
  margin: 10px 20px;
  padding: 5px;
  position: relative;
  user-select: text;
  overflow: hidden;
}
.your{
  margin-left: auto;
  color: #191919;
  border: 3px solid #C1272D;
  background: #C1272D;
}
.your > .message-point{
  left: calc(100% + 2px);
  transform: translateY(50%);
}
.message-point{
  position: absolute;
  left: -7px;
  bottom: 50%;
  height: 13px;
  width: 5px;
  transform: translateY(50%) rotate(180deg);
  background-image: url(../../assets/img/info-triangle.svg);
  background-size: 5px;
}
.profile-avatar{
  height: 80px;
  border-radius: 50%;
  background-color: #191919;
  margin: auto;
  transition: all .3s;
  opacity: 0;
  visibility: hidden;
  width: 0px;
  border-radius: 50%;
}
.profile-avatar:hover{
  transform: scale(101%);
}
.profile-avatar:active{
  border: 3px solid #C1272D;
}
.open-pfp > .profile-avatar{
  width: 80px!important;
  opacity: 100%!important;
  visibility: visible!important;
}
.current-pfp{
  width: 80px!important;
  opacity: 100%!important;
  visibility: visible!important;
}
#pfp{
  margin-left: 15px;
  width: 82px;
  height: 82px;
  position: relative;
  transition: all .3s;
  display: flex;
  overflow: hidden;
  align-items: center;
  /* flex-direction: column; */
  cursor: pointer;
  /* border-radius: 50%; */
  z-index: 2;
}
.open-pfp{
  width: 560px!important;
  background: #191919;
  border: 3px solid #C1272D;
  border-radius: 10px!important;
}
#url-container{
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.387);
  z-index: 10;
  display: flex;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: all .3s;
}
#url-btns{
  width: 40%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.url-input{
  height: 20px;
  width: 200px;
  background: #e0eaf0e3;
  border: 3px solid #191919;
  border-radius: 30px;
  padding: 10px;
  box-shadow: 0 0 10px #000;
}
#url-question{
  margin-top: 30px;
  width: 300px;
  height: 250px;
  background-color: #e0eaf0;
  border-radius: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  row-gap: 30px;
}
.delete-song{
  background: none;
  color: #C1272D;
  border: 3px solid #C1272D;
  border-radius: 10px;
  height: 50px;
  width: 100px;
  transition: all .5s;
  cursor: pointer;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.delete-song:hover{
  background-color: #C1272D;
  color: #191919;
}